JOBHUNT_FIREBASE_API_KEY=AIzaSyDN9IUtgYOZEk6fiQDALiWMA9SWhvHVXZg
JOBHUNT_FIREBASE_AUTH_DOMAIN=jobhunt-b0f49.firebaseapp.com
JOBHUNT_FIREBASE_PROJECT_ID=jobhunt-b0f49
JOBHUNT_FIREBASE_STORAGE_BUCKET=jobhunt-b0f49.firebasestorage.app
JOBHUNT_FIREBASE_MESSAGING_SENDER_ID=517342175968
JOBHUNT_FIREBASE_APP_ID=1:517342175968:web:2e97e54ad9a5e7824c2685
JOBHUNT_FIREBASE_MEASUREMENT_ID=G-LJMM163TMF
